*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // background-color: rgb(93, 93, 93);
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn{
    padding: .5rem 1rem;
    border-radius: 3px;
    &:hover {
        // filtro luminosità tipo;
      }
}

.green-btn{
    background-color: $green-color;
    border: 1px solid $green-color;
    color: white;
    &:hover {
        background-color: $green-color-hover;
      }
}

.white-btn{
    color: $green-color;
    border: 1px solid $green-color;
}

p{
    color: $grey-text;
}
