*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // background-color: rgb(93, 93, 93);
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.btn{
    padding: .5rem 1rem;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        // filtro luminosità tipo;
        // filter: brightness(120%);
      }
}

.green-btn{
    background-color: $green-color;
    border: 1px solid $green-color;
    color: white;
    &:hover {
        background-color: $green-color-hover;
      }
}

.transparent-btn{
    color: $green-color;
    border: 1px solid $green-color;
    &:hover {
        background-color: rgba(255, 255, 255, 0.080);
      }
}

.green-span{
    color: $green-color;
    background-color: $green-color-transparent;
    padding: 0 .5rem;
    border-radius: 3px;
}

small{
    color: $small-title-color;
    text-transform: uppercase;
    font-weight: 700;
}

h1{
    padding-top: 1rem;
}

p{
    color: $grey-text;
    // margin-top: 1.5rem;
}

.padding-x-5{
    padding: 5rem 0;
}

.padding-t-15{
    padding-top: 1.5;
}
