$blue-primary-color:#21333e;
$green-color: #038484;
$green-color-transparent: #0384842d;
$green-color-hover: #04a1a1;
$small-title-color: #52bbba;
$light-green-bg-color: #eef4ed;
$dark-bg-color:#111117;
$footer-cards-bg-color:#19191f;
$grey-text:#504f51;
$light-grey-text:#bcbabc
